<ng-container [ngSwitch]="currentStep">
  <ng-container *ngSwitchDefault>
    <h1>Step 0</h1>
    <button (click)="nextStep()">Next</button>
  </ng-container>
  <ng-container *ngFor="let step of steps">
    <ng-container *ngSwitchCase="step">
      <h1>Step {{step}}</h1>

      <button (click)="nextStep()">Next</button>
    </ng-container>
  </ng-container>
</ng-container>
